.overlay {
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  -webkit-animation-name: slideUpOverlay;
  animation-name: slideUpOverlay;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideUpOverlay {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes slideUpOverlay {
  from {
    height: 100%;
  }

  to {
    height: 0%;
  }
}



.intro-bg {
  -webkit-transform: scale3d(1.1, 1.2, 1.3);
  transform: scale3d(1.1, 1.2, 1.3);
  -webkit-animation-name: fadeIntroBg;
  animation-name: fadeIntroBg;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIntroBg {
  0% {
    -webkit-transform: scale3d(1.1, 1.2, 1.3);
    transform: scale3d(1.1, 1.2, 1.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeIntroBg {
  0% {
    -webkit-transform: scale3d(1.1, 1.2, 1.3);
    transform: scale3d(1.1, 1.2, 1.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}







.fadeImgScale {
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
  -webkit-animation-name: fadeImgScale;
  animation-name: fadeImgScale;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeImgScale {
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeImgScale {
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}