/* Footer start */

.footer {
  background-color: var(--main-color);
  padding-top: 128px;
  padding-bottom: 80px;
  position: relative;
}

/* Footer slider start */
.footer__slider {
  max-width: 1920px;
  margin: 0 auto;
}

.footer__slider-info {
  margin: 0 295px 0 auto;
  max-width: 1125px;
  padding: 0 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 48px;
}

.footer__instagram-link {
  font-family: 'PF Beau Sans Pro Bold';
  font-size: 36px;
  line-height: 44px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.swiper__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 130px;
}

.swiper__button {
  width: 58px;
  cursor: pointer;
}

.footer__slider-img {
  max-width: 696px;
}

.footer__slider-img img {
  width: 100%;
}

.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  height: 700px;
}

.slick-slide {
  margin-right: 25px;
  outline: none;

  -webkit-animation-name: slideOut;

  animation-name: slideOut;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slick-slide img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-animation-name: slideOut;

  animation-name: slideOut;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slick-center {
  margin-right: 25px;
  width: 696px !important;

  -webkit-animation-name: slideIn;

  animation-name: slideIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slick-center img {
  width: 696px;
  height: 696px;

  -webkit-animation-name: slideIn;

  animation-name: slideIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideOut {
  0% {
    width: 696px;
    height: 696px;
  }

  100% {
    width: 400px;
    height: 400px;
  }
}

@keyframes slideOut {
  0% {
    width: 696px;
    height: 696px;
  }

  100% {
    width: 400px;
    height: 400px;
  }
}

@-webkit-keyframes slideIn {
  0% {
    width: 400px;
    height: 400px;
  }

  100% {
    width: 696px;
    height: 696px;
  }
}

@keyframes slideIn {
  0% {
    width: 400px;
    height: 400px;
  }

  100% {
    width: 696px;
    height: 696px;
  }
}

/* Footer slider end */

/* Footer down start */

.footer__down {
  margin: 80px 310px 0 auto;
  max-width: 1125px;
  padding: 0 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 1920px) {
  .footer__down {
    margin: 80px auto 0 auto;
    padding-left: 180px;
  }
}

.footer__logo {
  max-width: 286px;
}

.footer__logo img {
  width: 100%;
}

.footer__menu {
  width: 180px;
  margin-top: 50px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px;
}

.footer__menu-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
}

.footer__menu-link {
  font-family: 'PF Beau Sans Pro Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.footer__down-right {
  text-align: right;
}

.footer__hot-line {
  font-family: 'PF Beau Sans Pro Bold';
}

.footer__hot-line span {
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer__hot-line a {
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 4px;
}

.footer__instagram {
  margin-top: 32px;
}

.footer__site-link {
  font-family: 'PF Beau Sans Pro Bold';
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 8px;
}

.footer__policy {
  font-family: 'PF Beau Sans Pro Light';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-top: 32px;
  margin-right: 15px;
}

.footer__img-down {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 429px;
  height: 295px;
  pointer-events: none;
}

/* Footer down end */

/* Footer end */

@media screen and (max-width: 1680px) {
  .footer__down {
    margin: 80px auto 0 auto;
  }
}

@media screen and (max-width: 1536px) {
  .footer__slider-info {
    margin: 0 auto 48px auto;
  }
}

@media screen and (max-width: 1366px) {
  .slick-center {
    width: 550px !important;
    height: 550px;
  }

  .slick-center img {
    width: 550px;
    height: 550px;
  }

  @-webkit-keyframes slideOut {
    0% {
      width: 550px;
      height: 550px;
    }

    100% {
      width: 400px;
      height: 400px;
    }
  }

  @keyframes slideOut {
    0% {
      width: 550px;
      height: 550px;
    }

    100% {
      width: 400px;
      height: 400px;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      width: 400px;
      height: 400px;
    }

    100% {
      width: 550px;
      height: 550px;
    }
  }

  @keyframes slideIn {
    0% {
      width: 400px;
      height: 400px;
    }

    100% {
      width: 550px;
      height: 550px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .slick-track {
    height: auto;
  }

  .slick-slide {
    margin-right: 10px;
    outline: none;

    width: 300px !important;
    height: 300px;

    -webkit-animation-name: none;

    animation-name: none;
  }

  .slick-slide img {
    -webkit-animation-name: none;
    animation-name: none;

    width: 300px;
    height: 300px;
  }

  .slick-center {
    margin-right: 10px;
    width: 300px !important;
    height: 300px;

    -webkit-animation-name: none;

    animation-name: none;
  }

  .slick-center img {
    width: 300px;
    height: 300px;

    -webkit-animation-name: none;

    animation-name: none;
  }

  .footer__policy {
    margin-right: 0;
  }
}

@media screen and (max-width: 540px) {
  .footer__menu {
    width: 312px;
    text-align: center;
  }

  .footer__menu-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }

  .footer__down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__down-right {
    text-align: center;
    margin-top: 48px;
  }

  .footer__policy {
    width: 240px;
  }

  .footer__policy span {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .slick-slide {
    width: 280px !important;
  }

  .slick-slide img {
    width: 280px;
  }

  .footer {
    padding-top: 52px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 360px) {
  .footer__instagram-link {
    font-size: 20px;
  }

  .slick-arrow {
    width: 40px;
    height: 32px;
  }

  .slick-arrow svg {
    width: 40px;
    height: 32px;
  }

  .swiper__buttons {
    width: 95px;
  }

  .footer__logo {
    max-width: 212px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .footer__menu {
    width: 290px;
  }
}